.git-search-container{
    padding: 35px 20px;
}

.search-container{
    padding: 35px 20px;
}

.search-container h1{
    font-size: 18px;
    margin-bottom: 12px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container input{
    width: 223px;
    height: 40px;
    padding: 8px 17px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-bottom: 32px;
}

.form-container input::placeholder{
    color: #BFBFBF;;
}

.form-container button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
}

.form-container button:hover{
    color: #fff;
}

@media(min-width: 576px){

    .git-search-container{
        padding: 55px 20px;
    }

    .search-container{
        padding: 55px 20px;
    }

    .search-container h1{
        font-size: 38px;
    }

    .form-container input{
        width: 400px;
        height: 40px;
        padding: 8px 17px;
    }
}

@media(min-width: 1200px){

    .git-search-container{
        padding: 55px 90px;
    }

    .search-container{
        padding: 55px 30px;
    }

    .search-container h1{
        font-size: 38px;
    }

    .form-container input{
        width: 300px;
        height: 40px;
        padding: 8px 17px;
    }
}
